<template>
  <div style="padding: 50px">
    <legend style="padding: 0px 10px 20px 0px; font-size: 25px">
      {{ $t("patient.userInformation") }}
    </legend>

    <!-- section for collecting email, phone and company of user -->
    <el-form label-position="top" :model="user" :rules="rules" ref="form">
      <el-form-item :label="$t('patient.email')" prop="email">
        <el-input
          placeholder="example@email.com"
          v-model="user.email"
          :disabled="isEdit"
        ></el-input>
      </el-form-item>
      <el-form-item :label="$t('patient.phoneNumber')" prop="phoneNumber">
        <el-input
          placeholder="555-1234-1234"
          v-model="user.phoneNumber"
        ></el-input>
      </el-form-item>
      <el-form-item
        :label="$t('patient.managingOrganization')"
        prop="managingOrganization"
      >
        <el-input
          :placeholder="$t('patient.managingOrganization')"
          v-model="user.managingOrganization"
        ></el-input>
      </el-form-item>
      <el-form-item :label="$t('patient.gender')">
        <el-radio v-model="user.gender" label="Male">Male</el-radio>
        <el-radio v-model="user.gender" label="Female">Female</el-radio>
      </el-form-item>

      <!-- section for collecting more user info -->

      <el-form-item :label="$t('patient.prefixName')" class="inline-item">
        <el-select
          v-model="user.prefixName"
          :placeholder="$t('patient.prefixName')"
        >
          <el-option label="Mr" value="Mr"></el-option>
          <el-option label="Ms" value="Ms"></el-option>
          <el-option label="Dr" value="Dr"></el-option>
          <el-option label="Miss" value="Miss"></el-option>
          <el-option label="Prof" value="Prof"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item
        :label="$t('patient.suffixName')"
        prop="suffixName"
        class="inline-item"
      >
        <el-input v-model="user.suffixName"></el-input>
      </el-form-item>
      <el-form-item
        :label="$t('patient.givenName')"
        prop="givenName"
        class="inline-item"
      >
        <el-input v-model="user.givenName"></el-input>
      </el-form-item>
      <el-form-item
        :label="$t('patient.familyName')"
        prop="familyName"
        class="inline-item"
      >
        <el-input v-model="user.familyName"></el-input>
      </el-form-item>
      <el-form-item
        :label="$t('patient.birthDate')"
        prop="birthDate"
        class="inline-item"
      >
        <el-date-picker
          type="date"
          format="yyyy/MM/dd"
          :placeholder="$t('patient.birthDate')"
          v-model="user.birthDate"
        ></el-date-picker>
      </el-form-item>
      <el-form-item :label="$t('patient.maritalStatus')" class="inline-item">
        <el-select
          v-model="user.maritalStatus"
          :placeholder="$t('patient.maritalStatus')"
        >
          <el-option label="Single" value="Single"></el-option>
          <el-option label="Married" value="Married"></el-option>
          <el-option label="Divorced" value="Divorced"></el-option>
          <el-option label="Widowed" value="Widowed"></el-option>
        </el-select>
      </el-form-item>
      <br />
      <br />
      <legend style="padding: 0px 10px 20px 0px; font-size: 25px">
        {{ $t("patient.identifierInfomation") }}
      </legend>

      <!-- section for collecting user identifier -->

      <el-form-item :label="$t('patient.identifierType')" class="inline-item">
        <el-select
          v-model="user.identifiers[0].identifierType"
          :placeholder="$t('patient.identifierType')"
        >
          <el-option label="Passport" value="Passport"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item
        :label="$t('patient.identifierValue')"
        prop="identifiers[0].value"
        class="inline-item"
      >
        <el-input
          v-model="user.identifiers[0].value"
          :placeholder="$t('patient.identifierValue')"
        />
      </el-form-item>
      <el-form-item
        :label="$t('patient.identifierStartValid')"
        prop="identifiers[0].startValid"
        class="inline-item"
      >
        <el-date-picker
          v-model="user.identifiers[0].startValid"
          type="date"
          format="yyyy/MM/dd"
          :placeholder="$t('patient.identifierStartValid')"
        />
      </el-form-item>
      <el-form-item
        :label="$t('patient.identifierEndValid')"
        prop="identifiers[0].endValid"
        class="inline-item"
      >
        <el-date-picker
          v-model="user.identifiers[0].endValid"
          type="date"
          format="yyyy/MM/dd"
          :placeholder="$t('patient.identifierEndValid')"
        />
      </el-form-item>

      <br />
      <br />
      <legend style="padding: 0px 10px 20px 0px; font-size: 25px">
        {{ $t("patient.addressInfomation") }}
      </legend>

      <!-- section for collecting user addresses -->

      <el-form-item :label="$t('patient.addressUse')" class="inline-item">
        <el-select
          v-model="user.addresses[0].use"
          :placeholder="$t('patient.addressUse')"
        >
          <el-option label="Home" value="Home"></el-option>
          <el-option label="Company" value="Company"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item
        :label="$t('patient.addressText')"
        prop="addresses[0].text"
        class="inline-item"
      >
        <el-input
          v-model="user.addresses[0].text"
          :placeholder="$t('patient.addressText')"
        />
      </el-form-item>
      <el-form-item
        :label="$t('patient.addressDistrict')"
        prop="addresses[0].district"
        class="inline-item"
      >
        <el-input
          v-model="user.addresses[0].district"
          :placeholder="$t('patient.addressDistrict')"
        />
      </el-form-item>
      <el-form-item
        :label="$t('patient.addressCity')"
        prop="addresses[0].city"
        class="inline-item"
      >
        <el-input
          v-model="user.addresses[0].city"
          :placeholder="$t('patient.addressCity')"
        />
      </el-form-item>
    </el-form>

    <!-- button group -->
    <el-button type="primary" @click="onSubmit('form')">
      {{ isEdit ? $t("form.update") : $t("form.create") }}</el-button
    >
    <el-button @click="resetForm('form')" :disabled="isEdit">{{
      $t("form.reset")
    }}</el-button>
  </div>
</template>

<script>
import { fetchPatient, createPatient, updatePatient } from "@/api/patient";
export default {
  name: "PatientDetail",
  components: {},
  props: {
    isEdit: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    var checkEmail = (rule, value, callback) => {
      const mailReg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
      if (!value) {
        return callback(new Error(this.$t("validation.empty_mail")));
      }
      setTimeout(() => {
        if (mailReg.test(value)) {
          callback();
        } else {
          callback(new Error(this.$t("validation.invalid_mail")));
        }
      }, 100);
    };
    var checkPhone = (rule, value, callback) => {
      const phoneReg = /^[0-9]{10,15}$/;
      if (!value) {
        return callback(new Error(this.$t("validation.empty_phone")));
      }
      setTimeout(() => {
        // Number.isInteger is a method for es6 to verify whether the number is an integer. The actual input number is always recognized as a string.
        // So add a + in front to implement implicit conversion
        if (!Number.isInteger(+value)) {
          callback(new Error(this.$t("validation.integer_phone")));
        } else {
          if (phoneReg.test(value)) {
            callback();
          } else {
            callback(new Error(this.$t("validation.invalid_phone")));
          }
        }
      }, 100);
    };
    return {
      user: {
        prefixName: "Mr",
        suffixName: "",
        givenName: "",
        familyName: "",
        phoneNumber: "",
        email: "",
        birthDate: new Date(),
        gender: "Male",
        maritalStatus: "Single",
        managingOrganization: "",
        identifiers: [
          {
            identifierType: "Passport",
            startValid: new Date(),
            endValid: new Date(),
            value: "",
            assigner: "Local Service",
          },
        ],
        addresses: [
          {
            use: "Home",
            type: "Physical",
            text: "",
            district: "",
            city: "",
            line: "N/A",
            state: "N/A",
            postalCode: "10000",
            country: "Viet Nam",
          },
        ],
        contacts: [],
        id: undefined,
      },
      rules: {
        email: [
          {
            validator: checkEmail,
            trigger: "blur",
          },
        ],
        phoneNumber: [
          {
            validator: checkPhone,
            trigger: "blur",
          },
        ],
        managingOrganization: [
          {
            required: true,
            message: this.$t("validation.empty_field"),
            trigger: "blur",
          },
        ],
        givenName: [
          {
            message: this.$t("validation.empty_field"),
            required: true,
            trigger: "blur",
          },
        ],
        suffixName: [
          {
            message: this.$t("validation.empty_field"),
            required: true,
            trigger: "blur",
          },
        ],
        familyName: [
          {
            message: this.$t("validation.empty_field"),
            required: true,
            trigger: "blur",
          },
        ],
        birthDate: [
          {
            message: this.$t("validation.empty_field"),
            required: true,
            trigger: "blur",
          },
        ],
        "identifiers[0].value": [
          {
            message: this.$t("validation.empty_field"),
            required: true,
            trigger: "blur",
          },
        ],
        "identifiers[0].startValid": [
          {
            message: this.$t("validation.empty_field"),
            required: true,
            trigger: "blur",
          },
        ],
        "identifiers[0].endValid": [
          {
            message: this.$t("validation.empty_field"),
            required: true,
            trigger: "blur",
          },
        ],
        "addresses[0].text": [
          {
            message: this.$t("validation.empty_field"),
            required: true,
            trigger: "blur",
          },
        ],
        "addresses[0].district": [
          {
            message: this.$t("validation.empty_field"),
            required: true,
            trigger: "blur",
          },
        ],
        "addresses[0].city": [
          {
            message: this.$t("validation.empty_field"),
            required: true,
            trigger: "blur",
          },
        ],
      },
    };
  },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id;
      this.fetchData(id);
    }

    // Why need to make a copy of this.$route here?
    // Because if you enter this page and quickly switch tag, may be in the execution of the setTagsViewTitle function, this.$route is no longer pointing to the current page
    // https://github.com/PanJiaChen/vue-element-admin/issues/1221
    this.tempRoute = Object.assign({}, this.$route);
  },
  methods: {
    fetchData(id) {
      fetchPatient(id)
        .then((response) => {
          this.user = response.data;

          // set page title
          this.setPageTitle();
        })
        .catch((err) => {
          console.log(err);
        });
    },
    setPageTitle() {
      const title = "Edit Patient";
      document.title = `${title} - ${this.user.id}`;
    },
    onSubmit(form) {
      this.$refs[form].validate((valid) => {
        if (valid) {
          this.user.birthDate = this.formatDate(this.user.birthDate);
          if (this.isEdit) {
            updatePatient(this.user.id, this.user).then(() => {
              this.loading = true;
              this.$notify({
                title: "Success",
                message: "Created Successfully",
                type: "success",
                duration: 2000,
              });
              this.loading = false;
            });
          } else {
            createPatient(this.user).then(() => {
              this.loading = true;
              this.$notify({
                title: "Success",
                message: "Created Successfully",
                type: "success",
                duration: 2000,
              });
              this.loading = false;
            });
          }
          this.$router.push(`/patient/list`);
        } else {
          return;
        }
      });
    },
    resetForm(form) {
      this.$refs[form].resetFields();
    },
    formatDate(date) {
      if (typeof date == "string") {
        return date;
      } else {
        var year = date.getFullYear();

        var month = (1 + date.getMonth()).toString();
        month = month.length > 1 ? month : "0" + month;

        var day = date.getDate().toString();
        day = day.length > 1 ? day : "0" + day;

        return year + "-" + month + "-" + day;
      }
    },
  },
};
</script>

<style scoped>
.inline-item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}
</style>