<template>
  <patient-detail :is-edit="false" />
</template>

<script>
import PatientDetail from './components/PatientDetail'

export default {
  name: 'CreatePatient',
  components: { PatientDetail }
}
</script>

